[submodule "USBaspLoader"]
	path = USBaspLoader
	url = https://github.com/baerwolf/USBaspLoader.git
[submodule "micronucleus"]
	path = micronucleus
	url = https://github.com/micronucleus/micronucleus.git
